<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ssm.dao.BussiLogDao">

    <insert id="save" parameterType="com.ssm.model.BussiLog">
        insert into bussi_log(
        table_no,
        op_user,
        remark,
        content,
        created_time
        )
        values(
        #{tableNo},
        #{opUser},
        #{remark},
        #{content},
        #{createdTime}
        )
    </insert>



</mapper>